

header {

    background-image: url(modernheader.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    margin: 20px;
    color: rgb(0, 0, 0);
    padding: 50px;
    font-size: 250%;
    font-family: Georgia;
    text-shadow: 3px 3px 3px rgb(163, 157, 157);
    
}

body {

    background-image: url(modern.jpg);
    background-size: 100%;
    background-repeat: repeat;
    
}

.aboutMe {

    margin: 20px auto;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 5px solid black;
    border-image: linear-gradient(to right, white, black) 80;
    padding: 5px;
    font-family: Georgia;
    
}


main {

    border-width: 20px;
    border-style: groove;
    border-color: grey;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}


.biography, .education, .jobExperience, .goals, .topTen {

    border: 5px;
    border-style: solid;
    border-color: black;
    border-image: linear-gradient(to right, black, white) 80;    padding: 5px;
    margin: 10px;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: Georgia;  

}


ol {

    list-style-position: inside;
    list-style-type: decimal;
    font-family: Georgia;
    
}

ul {
    
    list-style: disc;
    list-style-position: inside;
    font-family: Georgia;
    
}

h1 {

    font-weight: bolder;
    text-shadow: 4px 4px 3px black;
    font-family: Georgia;
    
}

h2 {

    font-weight: bold;
    font-size: 150%;
    background-color: rgb(54, 53, 53);
    background: linear-gradient(to right, white, black);
    color: white;
    padding: 5px;
    margin: 5px;
    text-shadow: 4px 4px 3px black;
    font-family: Georgia;
    background: linear-gradient(to right, white, black);

}

h3 {

    font-size: medium;
    font-weight: bolder;
    font-family: Georgia;
    text-decoration: underline;

}