

body {

    background-image: url(gridwallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(22, 22, 22);
    

}

.aboutMe {
    margin: 0 auto;
    
}


main {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    

}


.biography {

    border: 5px;
    border-style: solid;
    padding: 5px;
    margin: 10px;
    max-width: 600px;
    

}

.education {

    border: 5px;
    border-style: solid;
    padding: 5px;
    margin: 10px;
    max-width: 600px;

}

.jobExperience {

    border: 5px;
    border-style: solid;
    padding: 5px;
    margin: 10px;
    max-width: 600px;

}

.goals {

    border: 5px;
    border-style: solid;
    padding: 5px;
    margin: 10px;
    mxn-width: 600px;

}

.topTen {

    border: 5px;
    border-style: solid;
    padding: 5px;
    margin: 10px;
    max-width: 600px;
    

}


ol {
    list-style-position: inside;
    list-style-type: decimal;
    
}

ul {
    
    list-style: disc;
    list-style-position: inside;
    
}

h1 {
    font-weight: bolder;
    
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: bolder;
}